@font-face {
    font-family: LTSaeada;
    src: url("./../fonts/LTSaeada-Medium.otf") format("opentype");
}

* {
    font-family: LTSaeada;
    color:white;
}

.mie-homePageLogo{
    width: 100%;
}

.mie-instaqr{
    max-width: 150px;
}

.mie-tiktok{
    max-width: 780px; 
    min-width: 288px;
}